# 텍스트는 LF로 정규화, 바이너리는 그대로
* text=auto eol=lf

*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.svg  text
*.woff  binary
*.woff2 binary
*.ttf  binary
*.eot  binary
*.otf  binary
